#omnisocial-login
  - if flash[:error]
    .error
      %p
        = flash[:error]
  .information
    %h1
      = t('omnisocial.title')
    %p.large
      = t('omnisocial.description')
    %p
      = t('omnisocial.prefered_version')

  = big_twitter_login_button
  = big_facebook_login_button
  = link_to 'Anmelden', new_user_session_path
  = link_to 'Registrieren', new_user_registration_path
