= airbrake_javascript_notifier unless Rails.env.development?
= javascript_include_tag :defaults
= javascript_include_tag 'raphael/raphael', 'raphael/word'
= javascript_include_tag 'jquery-ui-1.8.12.custom.min'
= javascript_include_tag 'jquery.shuffle', 'jquery.qtip-1.0.0-rc3', 'jquery.fancybox-1.3.4'
= include_gritter
= javascript_include_tag 'game', 'session_show', 'show_word', 'tooltips'
// Modes
= javascript_include_tag 'random', 'welcome', 'analyze', 'communication', 'show_by_slug', 'svg'
