.button-link
  = link_to 'intro', welcome_path, :id => 'welcome-link'
  = link_to 'spielen', new_game_path, :id => 'new-game-link'
  = link_to 'analysieren', words_path, :id => 'words-link'
  = link_to 'kommmunizieren', communication_words_path, :id => 'new-word-link'
  = link_to 'inspirieren', random_words_path, :id => 'random-words-link'
  = link_to 'all', inspiration_words_path, :id => 'random-words-link'
  - unless user_signed_in?
    = link_to 'Login', user_session_path, :id => 'user-login'
  - else
    = link_to 'Logout', destroy_user_session_path, :id => 'user-logout'
