.button-link
  = link_to 'intro', welcome_path
  = link_to 'spielen', new_game_path
  = link_to 'analysieren', words_path
  = link_to 'kommmunizieren', new_word_path
  = link_to 'inspirieren', random_words_path
  = render 'shared/login'
