- if 'words'.eql?controller_name
  #scores
    #current-score.score
      = t('game.session_score')
      %span
        0
    - if current_user
      #daily-score.score
        = t('game.dayly_score')
        %span
          = current_user.daily_score
      #alltime-score.score
        = t('game.total_score')
        %span
          = current_user.total_score
