- content_for :flow_menu do
  = render 'shared/game_menu'

- content_for :main_control do
  %h1#title= @word.word

%h1#title-inserted

= render 'words/table', :word => @word
#word


- content_for :context_menu do
  #scores
    #last-score.score
      = t('game.last_score')
      %span
        0
    - if current_user && user_signed_in?
      #daily-score.score
        = t('game.dayly_score')
        %span
          = current_user.daily_score
      #alltime-score.score
        = t('game.total_score')
        %span
          = current_user.total_score
