%table.carpet
  - for row in 1..4
    %tr
      - for column in 1..4
        - chars = Word::CHARS[row-1][column-1].select{|c| word.word.downcase.include?(c)}.map{|c| c.upcase}.join(' ')
        %td{:class => "#{("active" unless chars.empty?)} field_#{row unless chars.empty?}_#{column unless chars.empty?}"}
          #{'o' unless chars.empty?} #{'-' if chars.empty?}
