%h1#title
  = @word.word

= render 'table', :word => @word

%h2#command
  Einfach was eingeben:
= form_for @word do |f|
  = f.text_field :word
  = f.hidden_field :next_word, :value => @word.id if 'show'.eql?action_name
  = f.submit "Flieg los!"
