!!!
%html
  %head
    %title
      = "%s auf http://WikiSigns.ch" % @word.word
    = render 'shared/facebook_header'
    = render 'shared/stylesheets'
  %body#show-word
    #word
      = image_tag "/words/#{@word.id}/svg.png", :alt => "Wikisigns"

    #title
      = @word.word

    = link_to "<", "/words/#{@word.id -= 1}", :id => 'add-new-word'


    = link_to 'Hier kannst du selber Zeichen setzen!', words_path, :id => 'add-new-word'


    = link_to ">", "/words/#{@word.id += 2}", :id => 'add-new-word'



