#title= @word.word

- content_for :context_menu do
  .button-link= link_to "<", word_path(@previous_word)
  .button-link= link_to t('link.new_word'), words_path
  .button-link= link_to ">", word_path(@next_word)

= render 'words/table', :word => @word
#word

- content_for :mode_script do
  = javascript_include_tag 'analyze_mode'
