!!!
%html
  %head
    %title= t('title.show', :word => @word.word)
    = render 'shared/facebook_header'

    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection, print'

  %body#show-word
    //#word= image_tag "/words/#{@word.id}/svg.png", :alt => t('wikisigns'), :size => '440x440'

    #title= @word.word

    .button-link= link_to "<", word_path(@previous_word)
    .button-link= link_to t('link.new_word'), words_path
    .button-link= link_to ">", word_path(@next_word)

    = javascript_include_tag :defaults
    = render 'shared/javascripts'
