!!!
%html{:lang => 'en', 'xmlns:og' => 'http://ogp.me/ns#', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml' }
  %head
    %meta{:charset => "UTF-8"}

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}

    %title= t('title.wikisigns')

    = csrf_meta_tag

    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection, print'

    = render 'shared/facebook_header'

    = javascript_include_tag 'http://platform.twitter.com/widgets.js'

  %body{:id => controller_name, :class => (current_user && current_user.from_facebook? ? 'facebook-user ' : '') + (current_user && current_user.from_twitter? ? 'twitter-user' : '')}
    #fb-root
    #container
      #side-container
        = render 'shared/flash_messages'
        = render 'shared/score'
        - if controller.class.eql?Omnisocial::AuthController
          #back-link
            = link_to t('back'), root_path
        #random-words-container
      #left-container
        = yield
      #right-container
        - if controller.class.eql?WordsController
          = render 'shared/game_menu'
        #user-pics-container
          #your-words
    
    // Javascript
    = javascript_include_tag :defaults
    = render 'shared/javascripts'
    = render 'shared/facebook_scripts'
    = hoptoad_javascript_notifier if Object.const_defined?(:HoptoadNotifier)

    = javascript_include_tag 'welcome'

