!!!
%html{:lang => 'en', 'xmlns:og' => 'http://ogp.me/ns#', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml'}
  %head
    = render 'shared/head'
  %body
    <!-- Main Content -->
    #container
      #menu-container
        #main-menu
          = render 'shared/main_menu'
          = content_for :main_menu
        #context-menu= content_for :context_menu
      #main-container
        #main-control= content_for :main_control
        #main-sign= yield
      #flow-container
        #flow-menu= content_for :flow_menu
        #side-bar= content_for :side_bar

    = render 'shared/body_end'
