!!!
%html{:lang => 'en', 'xmlns:og' => 'http://ogp.me/ns#', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml' }
  %head
    %title
      = t('title.wikisigns')
    = csrf_meta_tag
    = render 'shared/stylesheets'
    = render 'shared/facebook_header'
    = javascript_include_tag 'http://platform.twitter.com/widgets.js'
    %meta{:charset => "UTF-8"}
  %body{:id => controller_name, :class => (current_user && current_user.from_facebook? ? 'facebook-user ' : '') + (current_user && current_user.from_twitter? ? 'twitter-user' : '')}
    #container
      #side-container
        = render 'shared/flash_messages'
        = render 'shared/score'
        - if controller.class.eql?Omnisocial::AuthController
          #back-link
            = link_to t('back'), root_path
        #random-words-container
          - if controller.class.eql?WordsController
            = render 'shared/latest', :amount => 12
      #left-container
        = yield
      #right-container
        - if controller.class.eql?WordsController
          = render 'shared/game_menu'
        #user-pics-container
          #your-words
    = javascript_include_tag :defaults
    = render 'shared/javascripts'
    = javascript_include_tag 'http://connect.facebook.net/en_US/all.js'
    = yield :javascript
    = hoptoad_javascript_notifier if Object.const_defined?(:HoptoadNotifier)
