!!!
%html{:lang => 'en', 'xmlns:og' => 'http://ogp.me/ns#', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml' }
  %head
    = csrf_meta_tag
    = render 'shared/stylesheets'
  %body#facebook.facebook-user
    #fb-root
    #container
      = render 'shared/flash_messages'
      #left-container
        = yield
      #right-container
        #user-pics-container
          %h1
            = t('your_words')
          #your-words
    = javascript_include_tag :defaults
    = javascript_include_tag 'http://connect.facebook.net/en_US/all.js'
    :javascript
      FB.init({
        appId  : "#{Settings.facebook.consumer_key}",
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true  // parse XFBML
      });
    = render 'shared/javascripts'
    = hoptoad_javascript_notifier if Object.const_defined?(:HoptoadNotifier)
