!!!
%html{:lang => 'en', 'xmlns:og' => 'http://ogp.me/ns#', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml' }
  %head
    %title
      = t('title.game')
    = csrf_meta_tag
    = render 'shared/stylesheets'
    = render 'shared/facebook_header'
    = stylesheet_link_tag 'compiled/game.css', :media => 'screen, projection, print'
    = javascript_include_tag 'http://platform.twitter.com/widgets.js'
  %body#guessing-game{:class => (current_user && current_user.from_facebook? ? 'facebook-user ' : '') + (current_user && current_user.from_twitter? ? 'twitter-user' : '')}

    #container
      #side-container
        = render 'shared/flash_messages'
        = render 'shared/description'
        = render 'shared/game'
        = render 'shared/user'
        = render 'shared/login'
      #left-container
        = yield
      #right-container
        #highscores
          %h1
            = t('game.session_score')
          %h1
            = t('game.dayly_score')
          #sessin-score
            0
          #dayly-score
            - if current_user && current_user.from_facebook?
              = current_user.daily_score
        #game-solutions-container
          %h1
            = t('game.solutions.images')
          %h1
            = t('game.solutions.yours')
          %h1
            = t('game.solutions.searched')
          #ajax-loader{:style => 'display:none;'}
            = image_tag 'ajax-loader.gif'
          #solution-images
          #your-solutions
          #searched-solutions

    = javascript_include_tag :defaults
    = render 'shared/javascripts'
    = javascript_include_tag 'http://connect.facebook.net/en_US/all.js'
    = javascript_include_tag 'jquery.shuffle', 'guessing_game'
